@model FHCCOverviewControl
 
@{
    ViewBag.Title = "FHCC_Overview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>FHCC OVERVIEW</h3>

<label> @Model.fhccBoxesSoldDaily </label>

<table class="table">
    @*<thead>
        <tr>
            <th scope="col">FHCC OVERVIEW</th>
        </tr>
    </thead>*@
    <tbody>
        <tr>
            <th scope="row">Boxes sold (this day): </th>
            <td>@Model.FhccBoxesSoldDaily</td>
        </tr>
        <tr>
            <th scope="row">Boxes sold (this month): </th>
            <td>@Model.FhccBoxesSoldDaily</td>
        </tr>
       
    </tbody>
</table>