@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    </p>
    </p>
    </p>
    </p>
    </p>
    </p>
    </p>
    </p>
    </p>
    </p>
    </p>
    </p>
    </p>
    </p>
<div class="body_custom">
    <h3>SPECTRUM SERVICES ONLINE - OVERVIEW</h3>
</div>
<div class="list-group">
    <a href="@Url.Action("FHCC_Overview","SpectrumServices")" class="list-group-item list-group-item-success" aria-current="true">

        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">FHCC</h5>
        </div>

        <p class="mb-1"><h6>See boxes sold, sales, etc.</h6></p>
        <small>Confidential</small>
    </a>

    <a href="#" class="list-group-item list-group-item-danger" aria-current="true">

        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">SPM PRODUCTS</h5>
        </div>

        <p> <h6>See products sold, sales, etc.</h6></p>
        <small class="text-muted">Confidential</small>
    </a>
    <a href="#" class="list-group-item list-group-item-info">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">List group item heading</h5>
            <small class="text-muted">3 days ago</small>
        </div>
        <p class="mb-1">Some placeholder content in a paragraph.</p>
        <small class="text-muted">And some muted small print.</small>
    </a>
</div>


